.login-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-panel {
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  padding: 16px;
  gap: 12px;
  flex-direction: column;
  font-family: Roboto;
}

.form-title {
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form-group {
  display: flex;
  flex-direction: column;
}
